body {
    background-color: rgb(137, 145, 153);
    margin: 0;
}

/* navbar */
.nav {
    min-height: 42px;
    background-color: #EF5122;
    /* tạo flexbox trong thẻ flex container */
    display: flex;
    /* đẩy 2 flex item cách xa nhau */
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

.form_container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form_row {
    padding: 8px 0;
    display: flex;
}

/* làm cho 2 mục input có chiều dài bằng nhau */
.form_label {
    min-width: 90px;
}

/* khi flexitem có value từ 1, nó sẽ chiếm hết theo chiều của main axis  */
.input_form {
    flex: 1;
}

/* column layout */
.column_layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* PC, Tablet */
@media (min-width: 740px) {
    .column_layout {
        flex-direction: row;
    }
}

.columnItem {
    padding: 0 16px;
    flex: 1;
    text-align: justify;
}


.MainColumn {
    flex: 3;
    order: 3;
}

.SidebarOne {
    order: 1;
}

.SidebarTwo {
    order: 2;
}

.feature-layout {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* PC, Tablet */
@media (min-width: 740px) {
    .feature-layout {
        flex-direction: row;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: aqua;
}

.feature-item:nth-child(2) {
    background-color: darkmagenta;

}

.feature-item:nth-child(3) {
    background-color: crimson;
}

.wrap_layout {
    margin-top: 36px;
    background-color: #fff;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.wrap_item {
    width: 148px;
    height: 90px;
    color: #fff;
    line-height: 90px;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;

}

.center_layout {
    margin: 36px auto 0 auto;
    background-color: deepskyblue;
    height: 300px;
    width: 600px;
    text-align: center;
    display: flex;
}

.center_layout-item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

.chart_layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%)
    }

    to {
        opacity: 1;
        height: var(--percent);
    }
}

.chart_layout-item {
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 1s;
}

.end-layout {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row-reverse;
}

.end-layout_item1 {
    padding: 4px 16px;
    background-color: #fff;
    flex: 1;
}

.end-layout_item2 {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}

.end-layout_item2_one {
    background-color: blueviolet;
    flex: 1;
    padding: 4px 16px;
}

.end-layout_item2_two {
    background-color: fuchsia;
    flex: 1;
    padding: 4px 16px;
}